@using eSuperShop.Repository
@model IEnumerable<ICatalogModel>
@{
    Layout = null;
}


@foreach (var catalog in Model)
{
    var isNoCategory = !catalog.SubCatalog.Any();
    <li class="list-group-item p-1">
        <div class="childCategory d-flex justify-content-between">
            <div>
                @if (!isNoCategory)
                {
                    <span class="fas fa-angle-right rotate"></span>
                }
                <span class="@(isNoCategory ? "last-child" : "")">
                    <a href="/Category/AssignedDetails/@catalog.CatalogId"><span class="far fa-folder-open ic-w mx-1"></span>@catalog.CatalogName</a>
                </span>
            </div> 
            <div>
                <a data-name="@catalog.CatalogName" data-id="@catalog.CatalogId" class="addSeo pink-text mr-2"><i class="far fa-search-location"></i> SEO</a>
                @if (isNoCategory)
                {
                    <i data-id="@catalog.CatalogId" class="delete fal fa-trash-alt mr-3"></i>
                }
                else
                {
                    <i data-id="0" class="muted fal fa-trash-alt mr-3"></i>
                }
                <i data-id="@catalog.CatalogId" class="edit fal fa-edit"></i>
            </div>
        </div>

        @if (!isNoCategory)
        {
            <ul class="nested mb-1">
                <partial name="_SubCatalog" model="@catalog.SubCatalog" />
            </ul>
        }
    </li>
}
