@using eSuperShop.Repository
@model VendorInfoUpdateModel

@{
    ViewData["Title"] = "Update Store";
    Layout = "_SellerLayout";
}

@section Styles{
    <style>
        #categories .delete { cursor: pointer }
        .defaut-img { padding: .62rem .59rem; background-color: #ddd; color: #666; }
    </style>
}

<div class="container">
    <h4 class="page-header mb-3">Update Store</h4>

    <div class="card card-body">
        <form enctype="multipart/form-data" asp-action="UpdateStore">
            @if (!string.IsNullOrEmpty(Model.StoreLogoUrl))
            {
                <div class="text-center">
                    <img src="@Model.StoreLogoUrl" alt="@Model.StoreName" style="height: 80px">
                </div>
                <input type="hidden" name="StoreLogoUrl" value="@Model.StoreLogoUrl" />
            }

            <div class="md-form">
                <label asp-for="StoreName">Store Name</label>
                <input asp-for="StoreName" class="form-control" required>
                <span asp-validation-for="StoreName" class="field-validation-error"></span>
            </div>

            <div class="md-form my-4">
                <label asp-for="StoreAddress">Store Address</label>
                <input asp-for="StoreAddress" class="form-control" required>
            </div>

            <div class="md-form">
                <label asp-for="StoreSlugUrl">Store SlugUrl (allow: a-z, 0-9, -, %)</label>
                <input asp-for="StoreSlugUrl" class="form-control" pattern="^[a-z0-9]+(?:-[a-z0-9%]+)*$" required>
                <span asp-validation-for="StoreSlugUrl" class="field-validation-error"></span>
            </div>

            <div class="md-form my-4">
                <label asp-for="StoreTagLine">Store Tag Line</label>
                <input asp-for="StoreTagLine" class="form-control" required>
            </div>

            <div class="md-form mb-0">
                <span id="imageError" class="red-text"></span>
                <div class="file-field">
                    <div class="btn btn-outline-danger btn-rounded btn-sm float-left">
                        <span>Choose Logo<i class="fas fa-upload ml-3" aria-hidden="true"></i></span>
                        <input id="fileImage" name="logo" type="file" accept="image/*">
                    </div>
                    <div class="file-path-wrapper">
                        <input id="filePath" class="file-path validate" type="text" placeholder="Upload Logo">
                    </div>
                </div>
            </div>

            <div class="md-form mb-0">
                <span id="imageError2" class="red-text"></span>
                <div class="file-field">
                    <div class="btn btn-outline-danger btn-rounded btn-sm float-left">
                        <span>Choose Banner Image<i class="fas fa-upload ml-3" aria-hidden="true"></i></span>
                        <input id="fileImage2" name="bannerImage" type="file" accept="image/*">
                    </div>
                    <div class="file-path-wrapper">
                        <input id="filePath2" class="file-path validate" type="text" placeholder="Upload Banner Image">
                    </div>
                </div>
            </div>

            @if (!string.IsNullOrEmpty(Model.StoreBannerUrl))
            {
                <input type="hidden" name="StoreBannerUrl" value="@Model.StoreBannerUrl"/>
                <div class="w-50 mx-auto mt-2">
                    <img src="@Model.StoreBannerUrl" alt="@Model.StoreName" class="img-thumbnail" style="max-height: 300px">
                </div>
            }

            <div class="md-form text-center">
                <input id="btnSubmit" type="submit" value="Update" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>


@section Scripts{
    <script>
        //set image file
        $('#fileImage').change(function (e) {
            const imageError = $("#imageError");
            const pathInput = $('#filePath');
            const size = e.target.files[0].size / 1024 / 1024;
            const allowSize = 1;
            const regex = new RegExp("(.*?)\.(jpeg|jpg|png|webp)$");

            imageError.text("");

            if (!(regex.test(e.target.value.toLowerCase()))) {
                e.target.value = "";
                pathInput.val("");

                imageError.text(`Please select correct file format`);
                return;
            }

            if (size > allowSize) {
                e.target.value = "";
                pathInput.val("");

                imageError.text(`image size must be less than ${allowSize}MB. your file size:${size.toFixed()} MB`);
                return;
            }

            pathInput.val(e.target.files[0].name);
        });

        //banner image
        $('#fileImage2').change(function (e) {
            const imageError = $("#imageError2");
            const pathInput = $('#filePath2');
            const size = e.target.files[0].size / 1024 / 1024;
            const allowSize = 1;
            const regex = new RegExp("(.*?)\.(jpeg|jpg|png|webp)$");

            imageError.text("");

            if (!(regex.test(e.target.value.toLowerCase()))) {
                e.target.value = "";
                pathInput.val("");

                imageError.text(`Please select correct file format`);
                return;
            }

            if (size > allowSize) {
                e.target.value = "";
                pathInput.val("");

                imageError.text(`image size must be less than ${allowSize}MB. your file size:${size.toFixed()} MB`);
                return;
            }

            pathInput.val(e.target.files[0].name);
        });
    </script> 
}
