@using eSuperShop.Repository
@model IEnumerable<ICatalogModel>
@{
    ViewData["Title"] = "Assign Category";
    Layout = "_AdminLayout";
}

@section Styles{
    <style>
        .parentCategory, .childCategory { transition: all .3s ease-in-out }
        .cb-wraper:hover {background-color: #eee }
        .custom-form-control { width: auto; border: 1px solid #ddd; border-radius: 3px; padding: 2px 5px }

        .nested { padding-left: 35px; display: block !important }
        .down { content: "\f107"; font-family: 'Font Awesome 5 Pro' }
    </style>
}

<div class="container">
    <h4 class="page-header">Assign Category</h4>
    <p class="mb-3">Assign Percentage to Category</p>

    <form id="formAssign">
        <div class="card card-body">
            <div class="treeview">
                <ul class="list-group list-group-flush">
                    @foreach (var catalog in Model)
                    {
                        var isNoCategory = !catalog.SubCatalog.Any();

                        <li class="list-group-item parentCategory">
                            <div class="cb-wraper d-flex justify-content-between align-items-center my-2">
                                <input type="checkbox" class="form-check-input" value="@catalog.CatalogId" id="c-@catalog.CatalogId" name="check-category">
                                <label class="form-check-label" for="c-@catalog.CatalogId"><strong>@catalog.CatalogName</strong></label>
                                <input disabled type="number" min="0" max="100" class="custom-form-control" placeholder="@catalog.CatalogName" />
                            </div>

                            @if (!isNoCategory)
                            {
                                <partial name="_SubCatalog" model="@catalog.SubCatalog" />
                            }
                        </li>
                    }
                </ul>
            </div>

            <div class="mt-3">
                <button id="btnAssign" type="submit" class="btn btn-danger"><i class="far fa-check"></i> Assign</button>
            </div>
        </div>
    </form>
</div>


@section Scripts{
    <script>
        $(function() {
            getVendorInfo();
        });

        //selectors
        const formAssign = document.getElementById("formAssign");
        const btnAssign = formAssign.btnAssign;
        const listGroup = document.querySelector(".list-group");
        const VendorId = @ViewBag.VendorId;


        //on checkbox click
        listGroup.addEventListener('click', function(evt) {
            const element = evt.target;
            const onCheck = element.classList.contains("form-check-input");

            if (!onCheck) return;

            const inputPercent = element.nextElementSibling.nextElementSibling;
            inputPercent.disabled = !element.checked;

            if (!element.checked) {
                inputPercent.value = "";
            }
        });

        //assign button click
        formAssign.addEventListener("submit", function(evt) {
            evt.preventDefault();

            const checkboxes = document.getElementsByName('check-category');
            const Catalogs = [];

            for (let checkbox of checkboxes) {
                if (checkbox.checked) {
                    const inputPercent = checkbox.nextElementSibling.nextElementSibling;
                    Catalogs.push({ CatalogId: +checkbox.value, CommissionPercentage: +inputPercent.value });
                }
            }

            if (!Catalogs.length) return;

            const model = { VendorId, Catalogs }

            btnAssign.disabled = true;

            $.ajax({
                type: "POST",
                url: "/Seller/AssignCatalog",
                data: model,
                success: function(response) {
                    btnAssign.disabled = false;
                    console.log(response);

                    if (response.IsSuccess)
                        location.href = "/Seller/List";
                },
                error: function(err) {
                    console.log(err);
                    btnAssign.disabled = false;
                }
            });
        });

        //Get Vendor Info
        function getVendorInfo() {
            console.log(VendorId)
            $.ajax({
                url: `/Seller/GetVendorInfo/${VendorId}`,
                success: function(response) {
                    console.log(response)
                },
                error: function(err) { console.log(err); }
            });
        }
    </script>
}
